@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration  
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IJsonHelper Json
@* @model WebClientCore.Models.DisplayModels.DashBoardViewModel *@
@* @model ModelQRCode *@
@using APELC.Helper
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.DependencyInjection;
@using System.Collections.Specialized;
@using System;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Collections.Generic;
@using System.Linq;
@* @using System.Web;
@using System.Web.UI;
@using System.Web.UI.WebControls; *@
@* @using System.Web.Security; *@
@* @using WebClientCore.Models.DisplayModels *@
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Hosting;
@* @using SecurityMaintenance.Models; *@
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Razor;
@using Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation;
@model CarianPerananApelCMain

@{
#pragma warning disable CS8602
    

    // string _role = HttpContextAccessor.HttpContext.Session.GetString("_hrApelCRole") ?? "";
    // var _MohonApelCPkEnc = ApelCUser.GetApel(Context.Session).MOHON_PK_ENC;
    // var _statusMhApelC = ApelCUser.GetApel(Context.Session).STATUS_MOHON;
    // var _statusaktifPemohonApelC = ApelCUser.GetApel(Context.Session).STATUS_AKTIF_PEMOHON;

    // public ConfigureServices(IServiceCollection services);
    var _getPath = Configuration.GetSection("MySetting")["ServerPath"];
    var _path01 = _getPath != null && _getPath.Length > 1 ? ('/' + _getPath) : _getPath;
#pragma warning restore CS8602

    // var _disablelink = "disable-link";
    // var _color = "color:lightgray";
    // var _bullet = "";
    // var _disablelinkS = "disable-link";
    // var _colorS = "color:lightgray";
    // var _bulletS = "";
}

<style>
    .menu-item2 {
        margin: 0 0 -5px 0;
    }

    .menu-item3 {
        margin: 0 0 -15px 0;
    }

    .menu-item4 {
        margin: -10px 0 -13px 0;
    }

    .disable-link {
        pointer-events: none;
        cursor: default;
        color: lightgray;
    }

    .default {
        cursor: default;
        color: #696969;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Sistem Pendaftaran APEL</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/apelc/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/apelc/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/apelc/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/apelc/css/style.css">
    <link rel="stylesheet" href="/apelc/css/custom.css">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!-- endinject -->
    <link rel="shortcut icon" href="/apelc/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper auto-form-wrapper-sm">
                            <form id="frm_register" name="frm_register" action="class/register_process.php" method="post">
                                <div class="col-12 grid-margin">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <div class="col-md-12 text-center">
                                                    <img src="/apelc/images/logo_upnm.png" style="max-width: 100%; max-height: 100%;" />
                                                    <h3>Sistem Pendaftaran APEL</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                    <label id="lbl_kat_peranan" class="col-sm-4 col-form-label">Kategori Peranan</label>
                                                     <div class="col-sm-8">
                                                   <select id="idkatperanan" name="KATEGORI_PERANAN" class="form-select" onChange="get_kat_peranan()">
                                                    <option value="">- SILA PILIH -</option> 
                                                    </select>
                                                    <input id="kat_peranan" name="kat_peranan" type="hidden" value="">
                                                     </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label id="lbl_ic" class="col-sm-4 col-form-label">No Kad Pengenalan <font size="-6">(eg: 150101235112)</font></label>
                                                        <div class="col-sm-8">
                                                            <input id="txt_iddesc" name="txt_iddesc" type="text" maxlength="12" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">Nama</label>
                                                        <div class="col-sm-8">
                                                            <input id="txt_fullname" name="txt_fullname" type="text" class="form-control txt_upper" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                           
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">Emel</label>
                                                        <div class="col-sm-8">
                                                            <input id="txt_email" name="txt_email" type="email" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">No telefon</label>
                                                        <div class="col-sm-8">
                                                            <input id="no_telefon" name="no_telefon" type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">Kata Laluan</label>
                                                        <div class="col-sm-8">
                                                            <input type="password" name="txt_password" id="txt_password" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">Pengesahan Kata Laluan</label>
                                                        <div class="col-sm-8">
                                                            <input type="password" name="txt_repassword" id="txt_repassword" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <button type="submit" id="btn_register" name="btn_register" class="btn btn-primary submit-btn btn-block" onClick="return validate(this);">Daftar</button>
                                                <button class="btn btn-secondary btn-block" type="reset">Set Semula</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Telah berdaftar ?</span>
                                    <label class="text-small">
                                       @*  <a class="col-sm-6 col-form"> *@
                                        <a class="col-sm-6 col-form" id="IdClickBackToLogin" name="IdClickBackToLogin" href="javascript:myClickButton('BackToLogin')">
                                                Log Masuk
                                                @* <button onclick="myClickButton('RegistrationApelC')">Daftar Baru</button>
                                                @*  <button type="button" id="IdClickRegistrationApelC" name="IdClickRegistrationApelC" class="btn btn-success submit-btn btn-block" onClick="myClickButton('RegistrationApelC')">Daftar Akaun Baru</button> *@
                                            </a>
                                            @* <a data-toggle="modal" href="#forgotpwdModal" class="float-right-lg"> Log Masuk</a> *@
                                           @*  <button type="button" id="btn_lupa" name="btn_lupa" data-toggle="modal" href="#IdforgotpwdModal" class="btn btn-danger btn-block float-right-lg" type="reset">Log Masuk</button> *@
                                        @* </a> *@
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="apelc/js/vendor.bundle.base.js"></script>
    <script src="apelc/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="apelc/js/off-canvas.js"></script>
    <script src="apelc/js/misc.js"></script>
    <!-- endinject -->

    <script type="text/javascript">
        function myClickButton(id) {
            if (id == "UnderConstraction") {
                $('#IdClickUnderConstraction').click();
            }  else if (id == "BackToLogin") {
                $('#IdClickBackToLogin').click();
            }
        }
    </script>
    @using (Html.BeginForm("", "LoginPageApelC", FormMethod.Post))
    {
        <button type="submit" class="menu-link" id="IdClickBackToLogin" formaction="@_path01/Login/LoginPageApelC" style="display: none;">Skrin Login</button>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KVRG1qGp6FFrJ5b-7LjIPKDHXSUh2qA6Igdf62tfyyEkJTiEKZCAkhf9vTTmkrl1H0jcAhPBfACZTWykv3YBNT7-qyiVYbgu5PNrc5-170N30hHtqQR7H399ncK_dTKrZwYGutJ13z8YgtDHloTg9w" />

    }

</body>

</html>