@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration  
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IJsonHelper Json
@* @model WebClientCore.Models.DisplayModels.DashBoardViewModel *@
@* @model ModelQRCode *@
@using APELC.Helper
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.Extensions.Logging;
@using System.Collections.Specialized;
@using System;
@using System.Threading.Tasks;
@using System.IO;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Collections.Generic;
@using System.Linq;
@* @using System.Web;
@using System.Web.UI;
@using System.Web.UI.WebControls; *@
@* @using System.Web.Security; *@
@* @using WebClientCore.Models.DisplayModels *@
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Hosting;
@* @using SecurityMaintenance.Models; *@
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Razor;
@using Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation;
@model PenggunaApelCMain

@{
#pragma warning disable CS8602
    
    string _nopekerja = HttpContextAccessor.HttpContext.Session.GetString("_nopekerjaEnc") ?? "";
    string _nomatrik = HttpContextAccessor.HttpContext.Session.GetString("_nomatrikEnc") ?? "";
    string _nokp = HttpContextAccessor.HttpContext.Session.GetString("_nokpEnc") ?? "";
    string _role = HttpContextAccessor.HttpContext.Session.GetString("_hrApelCRole") ?? "";
    var _getPath = Configuration.GetSection("APELC")["applicationUrl"];
    var _path01 = _getPath != null && _getPath.Length > 1 ? ('/' + _getPath) : _getPath;
    // var _disablelink = "disable-link";
    // var _color = "color:lightgray";
    // var _bullet = "";
    // var _disablelinkS = "disable-link";
    // var _colorS = "color:lightgray";
    // var _bulletS = "";
#pragma warning restore CS8602
}
<style>
    .menu-item2 {
        margin: 0 0 -5px 0;
    }

    .menu-item3 {
        margin: 0 0 -15px 0;
    }

    .menu-item4 {
        margin: -10px 0 -13px 0;
    }

    .disable-link {
        pointer-events: none;
        cursor: default;
        color: lightgray;
    }

    .default {
        cursor: default;
        color: #696969;
    }

    
</style>

@* @if (_statusRyApelC == "APPROVED")
{
    _disablelink = "";
    _color = "";
    _bullet = "bullet bullet-dot";
}
@if (_statusMhApelC == "N")
{
    _disablelinkS = "";
    _colorS = "";
    _bulletS = "bullet bullet-dot";
} *@

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *@
    <link rel="shortcut icon" href="apelc/images/favicon.png" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sistem Pendaftaran APEL</title>
    <!-- plugins:css -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />        
    <!--end::Fonts-->
    <!--begin::Vendor Stylesheets(used for this page only)-->
    <link href="apelc/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="apelc/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />  
    <!--end::Vendor Stylesheets-->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="apelc/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    @*  <link href="apelc/assets/css/bootstrap.min.css" rel="stylesheet"> *@
    <link href="apelc/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="apelc/assets/css/select2.min.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <!-- End plugin css for this page --> 
    <!-- inject:css -->
    @* <link rel="stylesheet" href="apelc/css/style.css"> *@
   @*  <link rel="stylesheet" href="apelc/css/custom.css"> *@
    @* <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> *@
    <script src="apelc/assets/js/select2.min.js"></script>
 <!--begin::Google tag-->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
    <!-- endinject -->
    
    <!--begin::Google tag-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>  
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-37564768-1');
    </script>
    <!--end::Google tag-->
    <script>
        // Frame-busting to prevent site from being loaded within a frame without permission (click-jacking)
        if (window.top != window.self) {
            window.top.location.replace(window.self.location.href);
        }
    </script>
    <style>
      

        /* .text {
            font-size: 30px;
            width: 60%;
        } */
       /*  .btn {
                     margin-right: 50px;
        } */

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
        }

            /* .btn:hover {
                background-color: green;
            } */

       /*  body {
            background-image: url("../images/UPNM.jpg");
            background-color: #cccccc;
        } */
    </style>
</head>
<!--begin::Body-->
<body style="background-image: url(../images/UPNM.jpg)" id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <!--begin::Theme mode setup on page load-->
    <script>
        var defaultThemeMode = "light";
        var themeMode;

        if (document.documentElement) {
            if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
            } else {
                if (localStorage.getItem("data-bs-theme") !== null) {
                    themeMode = localStorage.getItem("data-bs-theme");
                } else {
                    themeMode = defaultThemeMode;
                }
            }

            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }

            document.documentElement.setAttribute("data-bs-theme", themeMode);
        }
    </script>
    <!--end::Theme mode setup on page load-->
    <!--Begin::Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!--End::Google Tag Manager (noscript) -->
    <input type="hidden" id="IdPathServerMain" value="@_path01">
	<!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root" style="padding-left:0 !important; padding-right:0 !important">
			<!--begin::Page-->
        <div class="app-page d-flex flex-column flex-column-fluid" id="kt_app_page" style="padding-left:0 !important; padding-right:0 !important">
				<!--begin::Wrapper-->
            <div class="app-wrapper d-flex flex-column flex-row-fluid" id="kt_app_wrapper" style="padding-left:0 !important; padding-right:0 !important">
                <!--begin::Main-->
					<div class="app-main d-flex flex-column flex-row-fluid" id="kt_app_main" style="padding-left:0 !important; padding-right:0 !important">
						<!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid" style="padding-left:0 !important; padding-right:0 !important">
							<!--begin::Content-->
                        <div id="kt_app_content" class="d-flex app-content flex-column-fluid" style="padding-left:0 !important; padding-right:0 !important">
								<!--begin::Content container-->
                            <div id="kt_app_content_container" class="d-flex app-container container-fluid" style="padding-left:0 !important; padding-right:0 !important">
									<!--begin::Row-->
                                @* <div class="row g-6 g-xl-9 mx-auto"> *@
                                <div class="d-flex row w-100" style="padding-left:0 !important; padding-right:0 !important">
                                    <!--begin::Col-->
                                    <div class="d-flex col-lg-4 mx-auto" style="padding-left:0 !important; padding-right:0 !important">
                                    @* <div class="d-flex flex-column mb-8 fv-row mx-auto"> *@
                                        <!--begin::Card-->
                                        <div class="card border-hover-primary mx-auto">
                                            <!--begin::Card header-->
                                            <div class="card-header border-0 pt-9 mx-auto">
                                                <!--begin::Card Title-->
                                                @* <div class="center"> *@
                                                <div class="card-title m-0 mx-auto">
                                                     <div class="d-flex flex-column mb-8 fv-row mx-auto">
                                                    <!--begin::Avatar-->
                                                        <img src="/apelc/images/logo_upnm.png" style="max-width: 100%; max-height: 100%;" alt="image" class="p-3 mx-auto" />
                                                        <!--end::Avatar-->
                                                     @* </div>
                                                    <div class="d-flex flex-column mb-8 fv-row mx-auto"> *@
                                                    <!--begin::Title-->
                                                    <div class="fs-2hx fw-bold text-gray-800 text-center mb-13">
                                                        @* <span class="me-2">     *@
                                                        Sistem Pendaftaran APEL
                                                        <!--begin::Description-->
                                                        <p class="text-gray-400 fw-semibold fs-5 mt-1 mb-7">PUSAT APEL</p>
                                                        <!--end::Description-->
                                                    </div>
                                                    <!--end::Title-->
                                                    </div>
                                                </div>
                                                @* </div> *@
                                                <!--end::Card Title-->
                                            </div>
                                            <!--end:: Card header-->
                                            <!--begin:: Card body-->
                                            <div class="card-body p-9">
                                            <!--begin:Form-->
                                                <form id="log_masuk_form" class="form" action="#">
                                                <!--begin::Input group-->
                                                <div class="d-flex flex-column mb-8 fv-row">
                                                    <!--begin::Label-->
                                                    <label for="username" class="col-sm-8 col-form-label">
                                                        <span class="required">ID Pengguna(No KP(Luar/Pelawat UPNM) atau No Matrik(Pelajar UPNM) atau No Pekerja(Staf UPNM)</span>
                                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan ID Pengguna"></i>
                                                    </label>
                                                    <!--end::Label-->
                                                    <div class="d-flex">
                                                        <input autocomplete="on" id="Idusername" name="Idusername" type="text" class="form-control" onkeyup="this.value = this.value.replace(/['+{}*<>=]/g, '')" autofocus placeholder="eg: user@gmail.com" data-bs-toggle="tooltip" data-bs-placement="top" title="Daftar Akaun Baru? Sila klik pada butang kanan untuk mendaftar akaun baru" />
                                                        <a href="#" class="btn btn-outline-secondary ml-auto btn-icon btn-success" data-bs-toggle="modal" data-bs-target="#modaldaftarAkaun">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="d-flex flex-column mb-8 fv-row">
                                                    <!--begin::Label-->
                                                    <label for="password" class="col-sm-8 col-form-label">
                                                        <span class="required">Kata Laluan</span>
                                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan Kata Laluan"></i>
                                                    </label>
                                                    <!--end::Label-->
                                                    <div class="d-flex">
                                                        <input type="password" name="Idpassword" id="Idpassword" class="form-control" placeholder="******" data-bs-toggle="tooltip" data-bs-placement="top" title="Lupa Kata Laluan? Sila klik pada butang kanan untuk menetapkan semula kata laluan" />
                                                        <a href="#" class="btn btn-outline-secondary ml-auto btn-icon btn-danger" data-bs-toggle="modal" data-bs-target="#forgotpwdModal">
                                                            <i class="fa fa-question"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="row g-9 mb-8">
                                                    <!--begin::Col-->
                                                    <div class="col-md-6 fv-row fv-plugins-icon-container">
                                                        <!--begin::Label-->
                                                        <label for="dd_jnsApel" class="col-sm-8 col-form-label">
                                                            <span class="required">JENIS APEL</span>
                                                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila pilih JENIS APEL"></i>
                                                        </label>
                                                        <!--end::Label-->
                                                        <select class="form-select form-select-solid" for="Idjenis_APEL_param" id="Idjenis_APEL_param" data-control="select2" items="ViewBag.JenisApelData" data-hide-search="true" data-placeholder="--Sila Pilih--" name="Idjenis_APEL_param" onchange="loadJenisAPEL(this)">
                                                            @* <option value="--SILA PILIH--">--SILA PILIH--</option>
                                                            <option value="">CJENIS_MODUL</option>
                                                            <option value="1">CRM App</option> *@
                                                        </select>
                                                        @*   <span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-14-8u8s" style="width: 100%;">
                                                        <span class="selection">
                                                        <span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-target_assign-x5-container" aria-controls="select2-target_assign-x5-container">
                                                        <span class="select2-selection__rendered" id="select2-target_assign-x5-container" role="textbox" aria-readonly="true" title="Sila pilih jenis APEL">
                                                        <span class="select2-selection__placeholder">
                                                        Sila pilih jenis APEL
                                                        </span>
                                                        </span>
                                                        <span class="select2-selection__arrow" role="presentation">
                                                        <b role="presentation"></b>
                                                        </span>
                                                        </span>
                                                        </span>
                                                        <span class="dropdown-wrapper" aria-hidden="true">
                                                        </span>
                                                        </span> *@
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <div class="form-group row">
                                                    <label class="col-form-label text-right col-lg-3 col-sm-12">Placeholder</label>
                                                    <div class=" col-lg-4 col-md-9 col-sm-12">
                                                        <select class="form-control select2" id="kt_select2_4" name="param">
                                                            <option label="Label"></option>
                                                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                                                <option value="AK">Alaska</option>
                                                                <option value="HI">Hawaii</option>
                                                            </optgroup>
                                                            <optgroup label="Pacific Time Zone">
                                                                <option value="CA">California</option>
                                                                <option value="NV">Nevada</option>
                                                                <option value="OR">Oregon</option>
                                                                <option value="WA">Washington</option>
                                                            </optgroup>
                                                            <optgroup label="Mountain Time Zone">
                                                                <option value="AZ">Arizona</option>
                                                                <option value="CO">Colorado</option>
                                                                <option value="ID">Idaho</option>
                                                                <option value="MT">Montana</option>
                                                                <option value="NE">Nebraska</option>
                                                                <option value="NM">New Mexico</option>
                                                                <option value="ND">North Dakota</option>
                                                                <option value="UT">Utah</option>
                                                                <option value="WY">Wyoming</option>
                                                            </optgroup>
                                                            <optgroup label="Central Time Zone">
                                                                <option value="AL">Alabama</option>
                                                                <option value="AR">Arkansas</option>
                                                                <option value="IL">Illinois</option>
                                                                <option value="IA">Iowa</option>
                                                                <option value="KS">Kansas</option>
                                                                <option value="KY">Kentucky</option>
                                                                <option value="LA">Louisiana</option>
                                                                <option value="MN">Minnesota</option>
                                                                <option value="MS">Mississippi</option>
                                                                <option value="MO">Missouri</option>
                                                                <option value="OK">Oklahoma</option>
                                                                <option value="SD">South Dakota</option>
                                                                <option value="TX">Texas</option>
                                                                <option value="TN">Tennessee</option>
                                                                <option value="WI">Wisconsin</option>
                                                            </optgroup>
                                                            <optgroup label="Eastern Time Zone">
                                                                <option value="CT">Connecticut</option>
                                                                <option value="DE">Delaware</option>
                                                                <option value="FL">Florida</option>
                                                                <option value="GA">Georgia</option>
                                                                <option value="IN">Indiana</option>
                                                                <option value="ME">Maine</option>
                                                                <option value="MD">Maryland</option>
                                                                <option value="MA">Massachusetts</option>
                                                                <option value="MI">Michigan</option>
                                                                <option value="NH">New Hampshire</option>
                                                                <option value="NJ">New Jersey</option>
                                                                <option value="NY">New York</option>
                                                                <option value="NC">North Carolina</option>
                                                                <option value="OH">Ohio</option>
                                                                <option value="PA">Pennsylvania</option>
                                                                <option value="RI">Rhode Island</option>
                                                                <option value="SC">South Carolina</option>
                                                                <option value="VT">Vermont</option>
                                                                <option value="VA">Virginia</option>
                                                                <option value="WV">West Virginia</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label text-right col-lg-3 col-sm-12">Nested Example</label>
                                                    <div class=" col-lg-4 col-md-9 col-sm-12">
                                                        <select class="form-control select2" id="kt_select2_2" name="param">
                                                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                                                <option value="AK">Alaska</option>
                                                                <option value="HI">Hawaii</option>
                                                            </optgroup>
                                                            <optgroup label="Pacific Time Zone">
                                                                <option value="CA">California</option>
                                                                <option value="NV" selected>Nevada</option>
                                                                <option value="OR">Oregon</option>
                                                                <option value="WA">Washington</option>
                                                            </optgroup>
                                                            <optgroup label="Mountain Time Zone">
                                                                <option value="AZ">Arizona</option>
                                                                <option value="CO">Colorado</option>
                                                                <option value="ID">Idaho</option>
                                                                <option value="MT">Montana</option>
                                                                <option value="NE">Nebraska</option>
                                                                <option value="NM">New Mexico</option>
                                                                <option value="ND">North Dakota</option>
                                                                <option value="UT">Utah</option>
                                                                <option value="WY">Wyoming</option>
                                                            </optgroup>
                                                            <optgroup label="Central Time Zone">
                                                                <option value="AL">Alabama</option>
                                                                <option value="AR">Arkansas</option>
                                                                <option value="IL">Illinois</option>
                                                                <option value="IA">Iowa</option>
                                                                <option value="KS">Kansas</option>
                                                                <option value="KY">Kentucky</option>
                                                                <option value="LA">Louisiana</option>
                                                                <option value="MN">Minnesota</option>
                                                                <option value="MS">Mississippi</option>
                                                                <option value="MO">Missouri</option>
                                                                <option value="OK">Oklahoma</option>
                                                                <option value="SD">South Dakota</option>
                                                                <option value="TX">Texas</option>
                                                                <option value="TN">Tennessee</option>
                                                                <option value="WI">Wisconsin</option>
                                                            </optgroup>
                                                            <optgroup label="Eastern Time Zone">
                                                                <option value="CT">Connecticut</option>
                                                                <option value="DE">Delaware</option>
                                                                <option value="FL">Florida</option>
                                                                <option value="GA">Georgia</option>
                                                                <option value="IN">Indiana</option>
                                                                <option value="ME">Maine</option>
                                                                <option value="MD">Maryland</option>
                                                                <option value="MA">Massachusetts</option>
                                                                <option value="MI">Michigan</option>
                                                                <option value="NH">New Hampshire</option>
                                                                <option value="NJ">New Jersey</option>
                                                                <option value="NY">New York</option>
                                                                <option value="NC">North Carolina</option>
                                                                <option value="OH">Ohio</option>
                                                                <option value="PA">Pennsylvania</option>
                                                                <option value="RI">Rhode Island</option>
                                                                <option value="SC">South Carolina</option>
                                                                <option value="VT">Vermont</option>
                                                                <option value="VA">Virginia</option>
                                                                <option value="WV">West Virginia</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--begin::Actions-->
                                                <div class="center">
                                                    <button style="margin-right: 50px;" type="submit" id="kt_modal_log_masuk_submit" class="btn btn-primary">
                                                        <span class="indicator-label">Log Masuk</span>
                                                        <span class="indicator-progress" id="kt_modal_log_masuk_submitGray" style="display: none;">
                                                            Sila Tunggu...
                                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                        </span>
                                                    </button>
                                                    <button type="reset" id="kt_modal_new_target_cancel" class="btn btn-light me-3">Set Semula</button>
                                                </div>
                                                <!--end::Actions-->
                                                <!--begin:Footer Link-->
                                                <div class="text-block text-center my-3">
                                                    <small><!--<a href="https://www.upnm.edu.my/" target="_blank">Pentadbir?</a> -->&copy; 2023 v1.0 Powered by BTMK,<br> Universiti Pertahanan Nasional Malaysia.</small>
                                                </div>
                                                <!--end:Footer Link-->
                                               </form>
                                                <!--end:: Form-->
                                            </div>
                                            <!--end:: Card body-->
                                        </div>
                                        <!--end::Card-->
                                    </div>
                                    <!--end::Col-->
						        </div>
						            <!--end::Row-->
					            </div>
				                <!--end::Content container-->
				            </div>
				            <!--end::Content-->
			            </div>
			            <!--end::Content wrapper-->
		            </div>
		            <!--end:::Main-->
	            </div>
	             <!--end::Wrapper-->
	        </div>
	        <!--end::Page-->
    </div>
    <!--end::App-->
    <!--begin::Modal - Daftar Akaun-->
    <div class="modal fade" id="modaldaftarAkaun" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <!--begin::Modal content-->
            <div class="modal-content rounded">
                <!--begin::Modal header-->
                <div class="modal-header pb-0 border-0 justify-content-end">
						<!--begin::Close-->
						<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
							<span class="svg-icon svg-icon-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
						<!--end::Close-->
                </div>
                <!--begin::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                    <!--begin:Form-->
                    <form id="kt_modal_IddaftarAkaun_form" class="form" action="#">
                        <!--begin::Heading-->
                        <div class="mb-13 text-center">
                            <!--begin::Title-->
                            <h1 class="mb-3">Daftar Akaun Baru</h1>
                            <!--end::Title-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Input group-->
                        <div class="row g-9 mb-8">
                            <!--begin::Col-->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label for="kategori" class="col-sm-8 col-form-label">
                                    <span class="required">KATEGORI</span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila pilih kategori"></i>
                                </label>
                                <!--end::Label-->
                                <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" name="kategori" data-placeholder="Sila Pilih kategori" data-select2-id="select2-data-13-vxuy" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                                    <option value="" data-select2-id="select2-data-15-ldry">Sila Pilih kategori...</option>
                                    <option value="">PELAJAR UPNM</option>
                                </select>
                                <span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-14-8u8s" style="width: 100%;">
                                    <span class="selection">
                                        <span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-target_assign-x5-container" aria-controls="select2-target_assign-x5-container">
                                            <span class="select2-selection__rendered" id="select2-target_assign-x5-container" role="textbox" aria-readonly="true" title="Sila Pilih kategori">
                                                <span class="select2-selection__placeholder">Sila Pilih kategori
                                                </span>
                                           </span>
                                           <span class="select2-selection__arrow" role="presentation">
                                               <b role="presentation"></b>
                                            </span>
                                        </span>
                                    </span>
                                 <span class="dropdown-wrapper" aria-hidden="true">
                                 </span>
                                 </span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">No matrik/No pekerja/No Kad Pengenalan/ID</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan No matrik/No pekerja/No Kad Pengenalan/ID"></i>
                            </label>
                            <!--end::Label-->
                            <input id="No_kad_pengenalan" type="text" class="form-control form-control-solid" placeholder="No kad pengenalan" name="No_kad_pengenalan" value="No kad pengenalan" />
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">Nama</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan nama"></i>
                            </label>
                            <!--end::Label-->
                            <input id="Nama" type="text" class="form-control form-control-solid" placeholder="Nama" name="Nama" value="Nama" />
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">Alamat Emel</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan alamat emel"></i>
                            </label>
                            <!--end::Label-->
                            <input id="Alamat_Emel"  type="text" class="form-control form-control-solid" placeholder="Alamat Emel" name="Alamat_Emel" value="Alamat Emel" />
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">No telefon</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan no telefon"></i>
                            </label>
                            <!--end::Label-->
                            <input id="No_telefon" type="text" class="form-control form-control-solid" placeholder="No telefon" name="No_telefon" value="No telefon" />
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">Kata Laluan</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan kata laluan"></i>
                            </label>
                            <!--end::Label-->
                            <input id="Kata_Laluan" type="password" class="form-control form-control-solid" placeholder="Kata Laluan" name="Kata_Laluan" value="Kata Laluan" />
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">Pengesahan Kata Laluan</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan pengesahan kata laluan"></i>
                            </label>
                            <!--end::Label-->
                            <input id="Pengesahan_Kata_Laluan"  type="password" class="form-control form-control-solid" placeholder="Pengesahan Kata Laluan" name="Pengesahan_Kata_Laluan" value="Pengesahan Kata Laluan" />
                        </div>
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="center">
                            <button style="margin-right: 50px;" type="submit" id="kt_modal_register_submit" class="btn btn-primary">
                                <span class="indicator-label">Daftar</span>
                                <span class="indicator-progress" id="kt_modal_register_submitGray" style="display: none;">
                                    Sila Tunggu...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <button type="reset" id="kt_modal_new_target_cancel" class="btn btn-light me-3">Set Semula</button>
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end:Form-->
                </div>
                <!--end::Modal body-->
            </div>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
    <!--end::Modal - Daftar Akaun-->
    <!--begin::Modal - Forgot Password-->
    <div class="modal fade" id="forgotpwdModal" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <!--begin::Modal content-->
            <div class="modal-content rounded">
                <!--begin::Modal header-->
                <div class="modal-header pb-0 border-0 justify-content-end">
						<!--begin::Close-->
						<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
							<span class="svg-icon svg-icon-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
						<!--end::Close-->
                </div>
                <!--begin::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                    <!--begin:Form-->
                    <form id="kt_modal_forgotpwdModal_form" class="form" action="#">
                        <!--begin::Heading-->
                        <div class="mb-13 text-center">
                            <!--begin::Title-->
                            <h1 class="mb-3">Tetapan semula kata laluan</h1>
                            <!--end::Title-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Input group-->
                        <div class="row g-9 mb-8">
                            <!--begin::Col-->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label for="kategori" class="col-sm-8 col-form-label">
                                    <span class="required">KATEGORI</span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila pilih kategori"></i>
                                </label>
                                <!--end::Label-->
                                <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" name="kategori" data-placeholder="Sila Pilih kategori" data-select2-id="select2-data-13-vxuy" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                                    <option value="" data-select2-id="select2-data-15-ldry">Sila Pilih kategori...</option>
                                    <option value="">PELAJAR UPNM</option>
                                </select>
                                <span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-14-8u8s" style="width: 100%;">
                                    <span class="selection">
                                        <span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-target_assign-x5-container" aria-controls="select2-target_assign-x5-container">
                                            <span class="select2-selection__rendered" id="select2-target_assign-x5-container" role="textbox" aria-readonly="true" title="Sila Pilih kategori">
                                                <span class="select2-selection__placeholder">
                                                    Sila Pilih kategori
                                                </span>
                                            </span>
                                            <span class="select2-selection__arrow" role="presentation">
                                                <b role="presentation"></b>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="dropdown-wrapper" aria-hidden="true">
                                    </span>
                                </span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">No matrik/No pekerja/No Kad Pengenalan/ID</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Sila masukkan No matrik/No pekerja/No Kad Pengenalan/ID"></i>
                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="" name="No_KP" value="No kad pengenalan/No matrik/No pekerja" />
                        </div>
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="center">
                            <button style="margin-right: 50px;" type="submit" id="kt_modal_reset_password_submit" class="btn btn-primary">
                                <span class="indicator-label">Hantar</span>
                                <span class="indicator-progress">
                                    Sila Tunggu...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <button class="btn btn-secondary btn-block" type="reset">Set Semula</button>
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end:Form-->
                </div>
                <!--end::Modal body-->
            </div>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
    <!--end::Modal - Forgot Password-->
    <!--begin::Modal - View Users-->
    <!--begin::Modal footer-->
@*     <div class="modal-footer flex-right" style="background-color: antiquewhite;">
    <button type="button" class="btn btn-secondary" id="IdButtonSubmitGray" style="display: none;">Please wait ...... </button>
    <button type="button" class="btn btn-light-success" id="IdButtonSubmit">Submit</button>
    &nbsp;
    <button type="button" class="btn btn-secondary" id="IdButtonClose" data-bs-dismiss="modal"><span class="text-maroon">Close</span></button>
    <div>
    <small id="IdModalLoginLable"></small>
    </div>
    </div> *@
    <!--end::Modal footer-->
    <!--begin::Javascript-->
    <script>var hostUrl = "apelc/";</script>
    @* <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
            $('.form-control select2').select2();
        });
    </script> *@
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="apelc/assets/plugins/global/plugins.bundle.js"></script> 
    <script src="apelc/assets/js/scripts.bundle.js"></script>
    <script src="apelc/js/apelc/Login.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--begin::Vendors Javascript(used for this page only)-->
    <script src="apelc/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
    <script src="apelc/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Vendors Javascript-->
    <!-- inject:js -->
   @*  <script src="apelc/js/off-canvas.js"></script>
    <script src="apelc/js/misc.js"></script> *@
    <!-- endinject -->
    <!-- CKEditor -->
    <script src="/apelc/js/CKEditor/ckeditor.js?dt=20240724021723&amp;v=uRt2issIiFE172hs-h3BC44hrp1KpsR1JatZVuJNKqs"></script>
    <!--end::Javascript-->
</body>

</html>