@inject IHttpContextAccessor HttpContextAccessor;
@inject IConfiguration Configuration;  
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject IJsonHelper Json;
@* @model WebClientCore.Models.DisplayModels.DashBoardViewModel; *@
@* @model ModelQRCode; *@
@using APELC.Helper;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Configuration; 
@using Microsoft.Extensions.DependencyInjection;
@using System.Collections.Specialized;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@* @using System.Web;
@using System.Web.UI;
@using System.Web.UI.WebControls; *@
@using System.Configuration; 
@using System.Data;
@using System.Data.SqlClient;
@* @using System.Web.Services; *@
@* @using System.Web.Security; *@
@* @using WebClientCore.Models.DisplayModels *@
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Hosting;
@* @using SecurityMaintenance.Models; *@
@using Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation;
@* @using DependencyInjectionSample.Interfaces;
@using DependencyInjectionSample.Services; *@

@{
    #pragma warning disable CS8602
    // string _userLogin = HttpContextAccessor.HttpContext.Session.GetString("_userId") ?? "";
    // string _primaryIdEnc = HttpContextAccessor.HttpContext.Session.GetString("_nopekerjaEnc") ?? "";

    // string _role = HttpContextAccessor.HttpContext.Session.GetString("_hrApelCRole") ?? "";
    // var _MohonApelCPkEnc = ApelCUser.GetApel(Context.Session).MOHON_PK_ENC;
    // var _statusMhApelC = ApelCUser.GetApel(Context.Session).STATUS_MOHON;
    // var _statusaktifPemohonApelC = ApelCUser.GetApel(Context.Session).STATUS_AKTIF_PEMOHON;

    //public static ConfigureServices(IServiceCollection services);
    var _getPath = Configuration.GetSection("MySetting")["ServerPath"];
    var _path01 = _getPath != null && _getPath.Length > 1 ? ('/' + _getPath) : _getPath;
#pragma warning restore CS8602

    // var _disablelink = "disable-link";
    // var _color = "color:lightgray";
    // var _bullet = "";
    // var _disablelinkS = "disable-link";
    // var _colorS = "color:lightgray";
    // var _bulletS = "";
}

<style>
    .menu-item2 {
        margin: 0 0 -5px 0;
    }

    .menu-item3 {
        margin: 0 0 -15px 0;
    }

    .menu-item4 {
        margin: -10px 0 -13px 0;
    }

    .disable-link {
        pointer-events: none;
        cursor: default;
        color: lightgray;
    }

    .default {
        cursor: default;
        color: #696969;
    }
</style>

@* @if (_statusRyApelC == "APPROVED")
{
    _disablelink = "";
    _color = "";
    _bullet = "bullet bullet-dot";
}
@if (_statusMhApelC == "N")
{
    _disablelinkS = "";
    _colorS = "";
    _bulletS = "bullet bullet-dot";
} *@

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sistem Pendaftaran APEL</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/apelc/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/apelc/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/apelc/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/apelc/css/style.css">
    <link rel="stylesheet" href="/apelc/css/custom.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/apelc/images/favicon.png" />
    <input type="hidden" id="IdPathServerMain" value="@_path01">
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper" style="padding-left:0 !important; padding-right:0 !important">
                            <form id="form1" name="form1" action="class/login_exe.php" method="post">
                                <div class="col-12 grid-margin">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <div class="col-md-12 text-center">
                                                    <img src="/apelc/images/logo_upnm.png" style="max-width: 100%; max-height: 100%;" />
                                                    <h3>Sistem Pendaftaran APEL</h3>
                                                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">ID Pengguna</label>
                                                        <div class="col-sm-8">
                                                            <input id="Idusername" name="username" type="text" class="form-control" onkeyup="this.value = this.value.replace(/['+{}*<>=]/g, '')" autofocus placeholder="eg: user@gmail.com" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">Kata Laluan</label>
                                                        <div class="col-sm-8">
                                                            <input type="Idpassword" name="password" id="password" class="form-control" placeholder="******" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">Jenis APEL</label>
                                                        <div class="col-sm-8">
                                                            <select id="dd_jnsApel" name="dd_jnsApel" class="form-control" onChange="get_jnsApel()">
                                                                @* <option value="">- SILA PILIH -</option> *@
                                                                @* <option value="APEL.A" disabled> APELC.A</option> *@
                                                                <option value="APEL.C" > APELC.C</option>
                                                                @* <option value="APEL.Q" disabled> APELC.Q</option> *@
                                                            </select>
                                                            <input id="txt_jnsApel" name="txt_jnsApel" type="hidden" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        @* <a class="col-sm-6 col-form" id="IdClickRegistrationApelC" href="#IdClickRegistrationApelC"> *@
                                                        <a class="col-sm-6 col-form"> 
                                                            @* Daftar Baru  *@
                                                           @*  <button onclick="myClickButton('RegistrationApelC')">Daftar Baru</button> *@
                                                            <button type="button" id="IdClickRegistrationApelC" name="btn_daftar" class="btn btn-success submit-btn btn-block" onClick="myClickButton('RegistrationApelC')">Daftar Akaun Baru</button>
                                                        </a>
                                                        <a class="col-sm-6 col-form" id="btn_lupa" name="btn_lupa" data-toggle="modal" href="#IdforgotpwdModal">
                                                            Lupa Kata Laluan
                                                            @* <a data-toggle="modal" href="#forgotpwdModal" class="float-right-lg"> Lupa Kata Laluan</a> *@
                                                            @* <button type="button" id="btn_lupa" name="btn_lupa" data-toggle="modal" href="#IdforgotpwdModal" class="btn btn-danger btn-block float-right-lg" type="reset">Lupa Kata Laluan</button> *@
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <button type="button" id="IdButtonSubmit" name="btn_login" class="btn btn-primary submit-btn btn-block">Log Masuk</button>
                                                <br />
                                                 <button type="button" class="btn btn-secondary" id="IdButtonSubmitGray" style="display: none;">Sila Tunggu ...... </button>
                                                 <br />
                                                <button class="btn btn-secondary btn-block" type="reset">Set Semula</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-block text-center my-3">
                                        <small><!--<a href="https://www.upnm.edu.my/" target="_blank">Pentadbir?</a> -->&copy; 2023 v2.0 Powered by BTMK,</br> Universiti Pertahanan Nasional Malaysia.</small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/apelc/js/vendor.bundle.base.js"></script>
    <script src="/apelc/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/apelc/js/off-canvas.js"></script>
    <script src="/apelc/js/misc.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/apelc/js/off-canvas.js"></script>
    <script src="/apelc/js/misc.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/apelc/js/off-canvas.js"></script>
    <!-- endinject -->
    <!-- CKEditor -->
    <script src="/apelc/js/CKEditor/ckeditor.js?dt=20240724021723&amp;v=uRt2issIiFE172hs-h3BC44hrp1KpsR1JatZVuJNKqs"></script>

    <!-- Forgot Password Modal Start -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="IdforgotpwdModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmForgot" id="frmForgot" method="post" action="class/secure/forgot-password-recovery-mail.php">
                    <div class="modal-header">
                        <h3 class="modal-title">Lupa Kata Laluan</h3>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-4 control-label" for="inputSuccess">ID Pengguna (Alamat Emel)</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                                    <input name="user-login-name" type="text" id="user-login-name" class="form-control" placeholder="eg: user@gmail.com" autofocus>
                                </div>
                                <br />
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                        <button type="submit" id="forgot-password" name="forgot-password" class="btn btn-primary" onClick="return validate(this);">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Forgot Password Modal End -->
 <!--begin::Modal footer-->
                <div class="modal-footer flex-right" style="background-color: antiquewhite;">
                    <button type="button" class="btn btn-secondary" id="IdButtonSubmitGray" style="display: none;">Please wait ...... </button>
                    <button type="button" class="btn btn-light-success" id="IdButtonSubmit">Submit</button>
                    &nbsp;
                    <button type="button" class="btn btn-secondary" id="IdButtonClose" data-bs-dismiss="modal"><span class="text-maroon">Close</span></button>
                    <div>
                        <small id="IdModalLoginLable"></small>
                    </div>
                </div>
 <!--end::Modal footer-->

    <script type="text/javascript">
        function myClickButton(id) {
            if (id == "UnderConstraction") {
                $('#IdClickUnderConstraction').click();
            } else if (id == "RegistrationApelC") {
                $('#IdClickRegistrationApelC').click();
            } else if (id == "BackToLogin") {
                $('#IdClickBackToLogin').click();
            }
        }
     
    </script>
    @using (Html.BeginForm("", "RegistrationApelC", FormMethod.Post))
    {
        <form action="./Login/RegistrationApelC" method="post">
            <button type="submit" class="menu-link" id="IdClickRegistrationApelC" formaction="./Login/RegistrationApelC" style="display: none;">Skrin Daftar Akaun</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KVRG1qGp6FFrJ5b-7LjIPKDHXSUh2qA6Igdf62tfyyEkJTiEKZCAkhf9vTTmkrl1H0jcAhPBfACZTWykv3YBNT7-qyiVYbgu5PNrc5-170N30hHtqQR7H399ncK_dTKrZwYGutJ13z8YgtDHloTg9w" />
        </form>
    }
</body>

</html>