@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration
@using APELC.Helper
@{
#pragma warning disable CS8602
    string _userLogin = HttpContextAccessor.HttpContext.Session.GetString("_userId") ?? "";
    string _primaryIdEnc = HttpContextAccessor.HttpContext.Session.GetString("_nopekerjaEnc") ?? "";

    string _role = HttpContextAccessor.HttpContext.Session.GetString("_hrSiasatanRole") ?? "";
    var _aduanPkEnc = ApelUser.GetApel(Context.Session).ADUAN_PK_ENC;
    var _siasatanPkEnc = ApelUser.GetApel(Context.Session).SIASATAN_PK_ENC;
    var _statusSstn = ApelUser.GetApel(Context.Session).STATUS_SSTN;

    var _sts_ringksn = ApelUser.GetApel(Context.Session).STS_RNGKSAN;
    var _sts_laporan = ApelUser.GetApel(Context.Session).STS_LAPORAN;

    string _butiranaduan = HttpContextAccessor.HttpContext.Session.GetString("_butiranaduan") ?? "";
    //string _laporanpolis = HttpContextAccessor.HttpContext.Session.GetString("_laporanpolis") ?? "";
    string _ringkasankjdn = HttpContextAccessor.HttpContext.Session.GetString("_ringkasankjdn") ?? "";
    string _diaripnyst = HttpContextAccessor.HttpContext.Session.GetString("_diaripnyst") ?? "";
    string _frmpengadusaksi = HttpContextAccessor.HttpContext.Session.GetString("_frmpengadusaksi") ?? "";
    string _attchpengadusaksi = HttpContextAccessor.HttpContext.Session.GetString("_attchpengadusaksi") ?? "";
    string _attchokt = HttpContextAccessor.HttpContext.Session.GetString("_attchokt") ?? "";
    string _frmokt = HttpContextAccessor.HttpContext.Session.GetString("_frmokt") ?? "";
    string _attchdoclain = HttpContextAccessor.HttpContext.Session.GetString("_attchdoclain") ?? "";
    string _attchbrgbukti = HttpContextAccessor.HttpContext.Session.GetString("_attchbrgbukti") ?? "";
    string _minitsstn = HttpContextAccessor.HttpContext.Session.GetString("_minitsstn") ?? "";

    var _getPath = Configuration.GetSection("MySetting")["ServerPath"];
    var _path01 = _getPath != null && _getPath.Length > 1 ? ('/' + _getPath) : _getPath;
#pragma warning restore CS8602

    var _disablelink = "disable-link";
    var _color = "color:lightgray";
    var _bullet = "";
    var _disablelinkS = "disable-link";
    var _colorS = "color:lightgray";
    var _bulletS = "";
}

<style>
    .menu-item2 {
        margin: 0 0 -5px 0;
    }
    .menu-item3 {
        margin: 0 0 -15px 0;
    }
    .menu-item4 {
        margin: -10px 0 -15px 0;
    }

    .disable-link {
        pointer-events: none;
        cursor: default;
        color: lightgray;
    }
    .default {
        cursor: default;
        color: #696969;
    }
</style>

@if (_sts_ringksn == "APPROVED")
{
    _disablelink = "";
    _color = "";
    _bullet = "bullet bullet-dot";
}
@if (_statusSstn == "N")
{
    _disablelinkS = "";
    _colorS = "";
    _bulletS = "bullet bullet-dot";
}

<!--begin::Aside-->
<div id="kt_aside" class="mtepi" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
    <!--begin::Aside Toolbarl-->
    <div class="mtepi-toolbar flex-column-auto" id="kt_aside_toolbar">
        <!--begin::Aside user-->
        <!--begin::User-->
        <div class="mtepi-user d-flex align-items-sm-center justify-content-center py-5">
            <!--begin::Symbol-->
            <div class="symbol symbol-50px">
                <img id="idImejProfile" src="https://esmartcard.upnm.edu.my/img/staf/1854.jpg" class="symbol-label" style="height:60px; width:50px;" />
            </div>
            <!--end::Symbol-->
            <!--begin::Wrapper-->
            <div class="aside-user-info flex-row-fluid flex-wrap ms-5">
                <!--begin::Section-->
                <div class="d-flex">
                    <!--begin::Info-->
                    <div class="flex-grow-1">
                        <!--begin::Username-->
                        <a href="#" class="text-maroon text-hover-primary fs-6 fw-bold">1845-24</a>
                        <!--end::Username-->
                        <!--begin::Description-->
                        <span class="text-gray-800 fw-semibold d-block fs-8 mt-1">
                            SUPERUSER
                        </span>
                        <!--end::Description-->
                        <!--begin::Description-->
                        <span class="text-gray-600 fw-semibold d-block fs-8">mnfarhan@upnm.edu.my</span>
                        <!--end::Description-->
                        <!--begin::Label-->
                        <!--end::Label-->
                    </div>
                    <!--end::Info-->
                    <!--begin::User menu-->
                    <div class="me-n4">
                        <!--begin::Action-->
                        <a href="#" class="btn btn-icon btn-sm btn-active-color-primary mt-n2" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-overflow="true">
                            <!--begin::Svg Icon | path: icons/duotune/coding/cod001.svg-->
                            <span class="svg-icon svg-icon-muted svg-icon-1">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M22.1 11.5V12.6C22.1 13.2 21.7 13.6 21.2 13.7L19.9 13.9C19.7 14.7 19.4 15.5 18.9 16.2L19.7 17.2999C20 17.6999 20 18.3999 19.6 18.7999L18.8 19.6C18.4 20 17.8 20 17.3 19.7L16.2 18.9C15.5 19.3 14.7 19.7 13.9 19.9L13.7 21.2C13.6 21.7 13.1 22.1 12.6 22.1H11.5C10.9 22.1 10.5 21.7 10.4 21.2L10.2 19.9C9.4 19.7 8.6 19.4 7.9 18.9L6.8 19.7C6.4 20 5.7 20 5.3 19.6L4.5 18.7999C4.1 18.3999 4.1 17.7999 4.4 17.2999L5.2 16.2C4.8 15.5 4.4 14.7 4.2 13.9L2.9 13.7C2.4 13.6 2 13.1 2 12.6V11.5C2 10.9 2.4 10.5 2.9 10.4L4.2 10.2C4.4 9.39995 4.7 8.60002 5.2 7.90002L4.4 6.79993C4.1 6.39993 4.1 5.69993 4.5 5.29993L5.3 4.5C5.7 4.1 6.3 4.10002 6.8 4.40002L7.9 5.19995C8.6 4.79995 9.4 4.39995 10.2 4.19995L10.4 2.90002C10.5 2.40002 11 2 11.5 2H12.6C13.2 2 13.6 2.40002 13.7 2.90002L13.9 4.19995C14.7 4.39995 15.5 4.69995 16.2 5.19995L17.3 4.40002C17.7 4.10002 18.4 4.1 18.8 4.5L19.6 5.29993C20 5.69993 20 6.29993 19.7 6.79993L18.9 7.90002C19.3 8.60002 19.7 9.39995 19.9 10.2L21.2 10.4C21.7 10.5 22.1 11 22.1 11.5ZM12.1 8.59998C10.2 8.59998 8.6 10.2 8.6 12.1C8.6 14 10.2 15.6 12.1 15.6C14 15.6 15.6 14 15.6 12.1C15.6 10.2 14 8.59998 12.1 8.59998Z" fill="currentColor" />
                                    <path d="M17.1 12.1C17.1 14.9 14.9 17.1 12.1 17.1C9.30001 17.1 7.10001 14.9 7.10001 12.1C7.10001 9.29998 9.30001 7.09998 12.1 7.09998C14.9 7.09998 17.1 9.29998 17.1 12.1ZM12.1 10.1C11 10.1 10.1 11 10.1 12.1C10.1 13.2 11 14.1 12.1 14.1C13.2 14.1 14.1 13.2 14.1 12.1C14.1 11 13.2 10.1 12.1 10.1Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </a>
                        <!--begin::User account menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <div class="menu-content d-flex align-items-center px-3">
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-90px me-5">
                                        <img id="idImejProfileSetting" src="https://esmartcard.upnm.edu.my/img/staf/1854.jpg" class="symbol-label" style="height:60px; width:50px;" />
                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::Username-->
                                    <div class="d-flex flex-column">
                                        <div class="fw-bold d-flex align-items-center fs-5">
                                            mohamadnoorfarhan
                                            <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Staff</span>
                                        </div>
                                        <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">mnfarhan@upnm.edu.my</a>
                                    </div>
                                    <!--end::Username-->
                                </div>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu separator-->
                            <div class="separator my-2"></div>
                            <!--end::Menu separator-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-5">
                                <a href="/apel/" class="menu-link px-5">My Profile</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu separator-->
                            <div class="separator my-2"></div>
                            <!--end::Menu separator-->
                            <!--begin::Menu item-->
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-5">
                                <a href="/apel/Login/Logout" class="menu-link px-5">Sign Out</a>
                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::User account menu-->
                        <!--end::Action-->
                    </div>
                    <!--end::User menu-->
                </div>
                <!--end::Section-->
            </div>
            <!--end::Wrapper-->

        </div>
        <!--end::User-->
        <!--end::Aside user-->
    </div>
    <!--end::Aside Toolbarl-->
    <!--begin::Menu separator-->
    <div class="separator my-2"></div>
    <!--end::Menu separator-->
    <!--begin::Aside menu-->
    <div class="mtepi-menu flex-column-fluid">



        <!--begin::Aside Menu-->
        <div class="hover-scroll-overlay-y px-2 my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="{default: '#kt_aside_toolbar, #kt_aside_footer', lg: '#kt_header, #kt_aside_toolbar, #kt_aside_footer'}" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="5px">
            <!--begin::Menu-->
            <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">

                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu content-->
                    <div class="menu-content">
                        <span class="menu-heading fw-bold text-uppercase fs-7">Module</span>
                    </div>
                    <!--end:Menu content-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion " style="display: block;">
                    <!--begin:Menu link-->
                    <span class="menu-link">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/abstract/abs029.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 11C8.98528 11 11 8.98528 11 6.5C11 4.01472 8.98528 2 6.5 2C4.01472 2 2 4.01472 2 6.5C2 8.98528 4.01472 11 6.5 11Z" fill="currentColor" />
                                    <path opacity="0.3" d="M13 6.5C13 4 15 2 17.5 2C20 2 22 4 22 6.5C22 9 20 11 17.5 11C15 11 13 9 13 6.5ZM6.5 22C9 22 11 20 11 17.5C11 15 9 13 6.5 13C4 13 2 15 2 17.5C2 20 4 22 6.5 22ZM17.5 22C20 22 22 20 22 17.5C22 15 20 13 17.5 13C15 13 13 15 13 17.5C13 20 15 22 17.5 22Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Permohonan APELC</span>
                        <span class="menu-arrow"></span>
                    </span>
                    <!--end:Menu link-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item ">
                            <!--begin:Menu link-->
                            <a class="menu-link" onclick="myClickButton('UnderConstraction');">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Senarai Permohonan</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item Siasatan -->
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion  ">
                    <!--begin:Menu link DDM-->
                    <span class="menu-link">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/graphs/gra006.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg fill="currentColor" height="200px" width="200px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.992 511.992" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 511.992 511.992"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="m287.998,97.851v-62.672c0-16.354-18.555-25.786-31.784-16.171-35.293,25.651-59.654,64.675-64.213,110.839h64c17.671,0 31.997-14.325 31.997-31.996z"></path> <path d="m511.791,136.617c-2.491-48.88-27.155-90.534-64.051-117.528-13.18-9.643-31.741-0.133-31.741,16.198v77.561c0,26.95-22.05,49-49,49h-78.997-64-32.003v49.75l-182.624,182.624c-12.5,12.492-12.499,32.758 0.001,45.25l48,48c6.242,6.25 14.438,9.375 22.625,9.375s16.383-2.625 22.625-8.875l182.625-182.125h66.747c5,0.002 9.233-0.082 13.917-0.478 84.584-7.158 150.197-83.975 145.876-168.752zm-415.79,296.23c-17.673,0-32-14.328-32-32 0-17.674 14.327-32 32-32 17.674,0 32,14.326 32,32 0,17.672-14.326,32-32,32zm176-191h-32l16-32h32l-16,32zm64,0h-32l16-32h32l-16,32zm64,0h-32l16-32h32l-16,32z"></path> </g> </g></svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Selenggara</span>
                        <span class="menu-arrow"></span>
                    </span>
                    <!--end:Menu link-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item ">
                            <!--begin:Menu link-->
                            <a class="menu-link" onclick="myClickButton('UnderConstraction');">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Senarai Kawalan Akses</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item ">
                            <!--begin:Menu link-->
                            <a class="menu-link" onclick="myClickButton('UnderConstraction');">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Caj</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item ">
                            <!--begin:Menu link-->
                            <a class="menu-link" onclick="myClickButton('UnderConstraction');">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Rubrik Pemarkahan</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item ">
                            <!--begin:Menu link-->
                            <a class="menu-link" onclick="myClickButton('UnderConstraction');">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Daftar Kursus</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item ">
                            <!--begin:Menu link-->
                            <a class="menu-link" onclick="myClickButton('UnderConstraction');">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Ujian Cabaran</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                </div>

                <!-- START HUBUNGI KAMI MODUL -->

                <li class="">
                    <a href="uiuser/usr_hubungi_ksl.php">
                        <i class="menu-icon glyphicon glyphicon-phone-alt red"></i>
                        <span class="title">Hubungi Kami</span>

                    </a>

                <li class="open" style="background-color: #e47662;padding: 8px;margin-top: 5px;">
                    <div class="clearfix">
                        &nbsp;&nbsp;<font style="font-size:smaller;color:#fcfcfd;text-decoration: underline;"><b>PASUKAN PENGURUS SISTEM APELC.C</b></font><br>
                    </div>
                </li>

                <li class="open" style="background-color: #e47662;padding: 6px;">
                    <div class="clearfix">
                        &nbsp;&nbsp;<font style="font-size:smaller;color:#fcfcfd"><i class="glyphicon glyphicon glyphicons glyphicons-cars green"></i> <b>UNIT KESELAMATAN</b></font><br>
                        &nbsp;&nbsp;<font style="font-size:smaller;color:#fcfcfd"><i class="glyphicon glyphicon-user"></i> Puan Nor Azlin</font><br>
                        &nbsp;&nbsp;<font style="font-size:smaller;color:#fcfcfd"><i class="ace-icon fa fa-envelope-o green"></i> n.azlinsafina@upnm.edu.my</font><br>
                        &nbsp;&nbsp;<font style="font-size:smaller;color:#fcfcfd"><i class="ace-icon glyphicon glyphicon-phone-alt green"></i> 603-9051 3400 / 2217</font>
                    </div>
                </li>
                <li class="open" style="background-color: #e47662;">
                    <div class="clearfix">
                        <hr style="margin-top: 5px;margin-bottom: 5px;">
                    </div>
                </li>
                <li class="open" style="background-color: #e47662;padding: 6px;">
                    <div class="clearfix">

                        &nbsp;&nbsp;<font style="font-size:smaller;color:#fcfcfd"><i class="glyphicon glyphicon-user"></i> Nurshuhaida binti Rusli</font><br>
                        &nbsp;&nbsp;<font style="font-size:smaller;color:#fcfcfd"><i class="ace-icon fa fa-envelope-o green"></i> nurshuhaida@upnm.edu.my</font><br>
                        &nbsp;&nbsp;<font style="font-size:smaller;color:#fcfcfd"><i class="ace-icon glyphicon glyphicon-phone-alt green"></i> 603-9051 3400 / 1086</font>
                    </div>
                </li>

                </li>

                <!-- END HUBUNGI KAMI MODUL -->
                <!--begin:Menu item-->
                <div class="menu-item bg-light-warning here show mt-5">
                    <!--begin:Menu link-->
                    <a class="menu-link active bg-light-warning" href="/apel/Login/Logout">
                        <span class="menu-icon bg-light-warning">
                            <!--begin::Svg Icon | path: icons/duotune/coding/cod003.svg-->
                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M14.0069431,7.00607258 C13.4546584,7.00607258 13.0069431,6.55855153 13.0069431,6.00650634 C13.0069431,5.45446114 13.4546584,5.00694009 14.0069431,5.00694009 L15.0069431,5.00694009 C17.2160821,5.00694009 19.0069431,6.7970243 19.0069431,9.00520507 L19.0069431,15.001735 C19.0069431,17.2099158 17.2160821,19 15.0069431,19 L3.00694311,19 C0.797804106,19 -0.993056895,17.2099158 -0.993056895,15.001735 L-0.993056895,8.99826498 C-0.993056895,6.7900842 0.797804106,5 3.00694311,5 L4.00694793,5 C4.55923268,5 5.00694793,5.44752105 5.00694793,5.99956624 C5.00694793,6.55161144 4.55923268,6.99913249 4.00694793,6.99913249 L3.00694311,6.99913249 C1.90237361,6.99913249 1.00694311,7.89417459 1.00694311,8.99826498 L1.00694311,15.001735 C1.00694311,16.1058254 1.90237361,17.0008675 3.00694311,17.0008675 L15.0069431,17.0008675 C16.1115126,17.0008675 17.0069431,16.1058254 17.0069431,15.001735 L17.0069431,9.00520507 C17.0069431,7.90111468 16.1115126,7.00607258 15.0069431,7.00607258 L14.0069431,7.00607258 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.006943, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-9.006943, -12.000000) " />
                                        <rect fill="#000000" opacity="0.3" transform="translate(14.000000, 12.000000) rotate(-270.000000) translate(-14.000000, -12.000000) " x="13" y="6" width="2" height="12" rx="1" />
                                        <path d="M21.7928932,9.79289322 C22.1834175,9.40236893 22.8165825,9.40236893 23.2071068,9.79289322 C23.5976311,10.1834175 23.5976311,10.8165825 23.2071068,11.2071068 L20.2071068,14.2071068 C19.8165825,14.5976311 19.1834175,14.5976311 18.7928932,14.2071068 L15.7928932,11.2071068 C15.4023689,10.8165825 15.4023689,10.1834175 15.7928932,9.79289322 C16.1834175,9.40236893 16.8165825,9.40236893 17.2071068,9.79289322 L19.5,12.0857864 L21.7928932,9.79289322 Z" fill="#000000" fill-rule="nonzero" transform="translate(19.500000, 12.000000) rotate(-90.000000) translate(-19.500000, -12.000000) " />
                                    </g>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title"><font color="maroon"><b>Sign Out</b></font></span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->





            </div>
            <!--end::Menu-->
        </div>
        <!--end::Aside Menu-->
        <script>
            function myClickButton(id) {
                if (id == "UnderConstraction") {
                    $('#IdClickUnderConstraction').click();
                } else if (id == "BackToDashboard") {
                    $('#IdClickBackToDashboard').click();
                }
                else if (id == "SelenggaraZonList") {
                    $('#IdClickSelenggaraZonList').click();
                }
                else if (id == "SelenggaraBlokList") {
                    $('#IdClickSelenggaraBlokList').click();
                }
                else if (id == "SelenggaraKatAduanList") {
                    $('#IdClickSelenggaraKatAduanList').click();
                }
                else if (id == "SelenggaraSubKatAduanList") {
                    $('#IdClickSelenggaraSubKatAduanList').click();
                }
                else if (id == "SelenggaraJenisKenderaanList") {
                    $('#IdClickSelenggaraJenisKenderaanList').click();
                }
                else if (id == "CarianStatistikAduan") {
                    $('#IdClickCarianStatistikAduan').click();
                }
                else if (id == "DashboardStatistikAduan") {
                    $('#IdClickDashboardStatistikAduan').click();
                }
                else if (id == "DashboardStatistikSiasatan") {
                    $('#IdClickDashboardStatistikSiasatan').click();
                }


                else if (id == "SiasatanSkrinList") {
                    $('#IdClickSiasatanList').click();
                }
                else if (id == "AduanSkrinList") {
                    $('#IdClickAduanList').click();
                }
                else if (id == "AduanSkrinInvList") {
                    $('#IdClickAduanInvList').click();
                }

                else if (id == "EKunci") {
                    $('#IdClickCarianEKunci').click();
                }

                else if (id == "ESaman") {
                    $('#IdClickCarianESaman').click();
                }


            }
        </script>
        
    </div>
    <!--end::Aside menu-->
</div>
<!--end::Aside-->
<script>
    function myClickButton(id) {
        if (id == "UnderConstraction") {
            $('#IdClickUnderConstraction').click();
        } else if (id == "BackToDashboard") {
            $('#IdClickBackToDashboard').click();
        } else if (id == "DdmsSkrinUrusetia") {
            $('#IdClickDdmsSkrinUrusetia').click();
        } else if (id == "DdmsSelenggaraKategori") {
            $('#IdClickDdmsSelenggaraKategori').click();
        } else if (id == "DdmsSelenggaraPerkaraUtama") {
            $('#IdClickDdmsSelenggaraPerkaraUtama').click();
        }
    @*Siasatan*@
                                  else if (id == "SiasatanSkrinList") {
            $('#IdClickSiasatanList').click();
        }
    }
</script>
@using (Html.BeginForm("", "Dashboard", FormMethod.Post))
{
    <form action="/Home/Dashboard" method="post">
        <button type="submit" class="menu-link" id="IdClickUnderConstraction" formaction="/Home/Dashboard" style="display: none;">Skrin Dashboard</button>
        <button type="submit" class="menu-link" id="IdClickBackToDashboard" formaction="/Home/Dashboard" style="display: none;">Skrin Dashboard</button>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KVRG1qGp6FFrJ5b-7LjIPKDHXSUh2qA6Igdf62tfyyEkJTiEKZCAkhf9vTTmkrl1H0jcAhPBfACZTWykv3YBNT7-qyiVYbgu5PNrc5-170N30hHtqQR7H399ncK_dTKrZwYGutJ13z8YgtDHloTg9w" />
    </form>
}
@using (Html.BeginForm("", "Senarai", FormMethod.Post))
{
    <form action="/Senarai/SenaraiPermohonanApelC" method="post">
        <button type="submit" class="menu-link" id="IdClickSenaraiPermohonanApelC" formaction="/Senarai/SenaraiPermohonanApelC" style="display: none;">Skrin Senarai Permohonan APELC</button>
        <button type="submit" class="menu-link" id="IdClickBackToDashboard" formaction="/Home/Dashboard" style="display: none;">Skrin Dashboard</button>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KVRG1qGp6FFrJ5b-7LjIPKDHXSUh2qA6Igdf62tfyyEkJTiEKZCAkhf9vTTmkrl1H0jcAhPBfACZTWykv3YBNT7-qyiVYbgu5PNrc5-170N30hHtqQR7H399ncK_dTKrZwYGutJ13z8YgtDHloTg9w" />
    </form>
  
}
@using (Html.BeginForm("", "Selenggara", FormMethod.Post))
{
    <button type="submit" class="menu-link" id="IdClickSelenggaraAksesKawalanAPELC" formaction="@_path01/SelenggaraApelC/SelenggaraAksesKawalanAPELC" style="display: none;">Skrin Selenggara Senarai Akses Kawalan </button>
    <button type="submit" class="menu-link" id="IdClickSelenggaraCajPeranan" formaction="@_path01/SelenggaraApelC/SelenggaraCajPeranan" style="display: none;">Skrin Selenggara Caj Peranan </button>
    <button type="submit" class="menu-link" id="IdClickSelenggaraRubrikPemarkahan" formaction="@_path01/SelenggaraApelC/SelenggaraRubrikPemarkahan" style="display: none;">Skrin Selenggara Rubrik Pemarkahan </button>
    <button type="submit" class="menu-link" id="IdClickSelenggaraPendaftaran" formaction="@_path01/SelenggaraApelC/SelenggaraPendaftaran" style="display: none;">Skrin Selenggara Rubrik Pemarkahan </button>
    <button type="submit" class="menu-link" id="IdClickSelenggaraSetUjianCabaran" formaction="@_path01/SelenggaraApelC/SelenggaraSetUjianCabaran" style="display: none;">Skrin Selenggara Set Ujian Cabaran </button>
    <button type="submit" class="menu-link" id="IdClickSelenggaraSetContohPortfolio" formaction="@_path01/SelenggaraApelC/SelenggaraSetContohPortfolio" style="display: none;">Skrin Selenggara Set Contoh Portfolio </button>

}